# Data Analytics for MOOC Providers

#### Created by [Miguel Ballesteros](mailto:mabm1e15@soton.ac.uk)

### *Notebook list*
1. [Introduction](index.ipynb)
2. [The Downloaded CSV Files](downloaded_data.ipynb)
3. [Data Processing Pipeline](data_pipeline.ipynb)
4. **[Clean Data Exploration](clean_data_exploration.ipynb)**
5. [Understanding MOOC behaviors](understanding_mooc.ipynb)
6. [Predicting Dropouts](predicting_dropouts)
7. [Conclusions](conclusions.ipynb)
8. [Future Work](future_work.ipynb)

### *In this notebook...*
1. [Exploration Goal](#Exploration-Goal)
2. [Data Load](#Data-Load)

## Exploration Goal

Within this notebook the cleaned data is explored with the aim to determine the possible transformations to use in later models. The cleaned data is basically the raw data after removing invalid entries and converting all columns to the right data types.

The task starts by loading the cleaned data from the RData file saved in the folder Data_Clean using the same methods defined for the pipeline processing. Then the data frames are listed. When using the default values, those are identified with the prefix "df_".

## Data Load

In [2]:
source("00_config.r")              # R file with global configuration values
source("02_clean.r")               # R file with clean-related functions
load_clean_data_file(DATA_CLEAN)   # Function defined in the clean functions. Loads the preprocessed clean data.
summary_clean_data()               # Table summarizing the number of records per data frame, grouped by the short course name

[1] "INFO - START - load_clean_data_file"
[1] "INFO - END - load_clean_data_file - Elapsed: 3.27 s"

   short_code               df_course_list df_course_details df_enrolments
1  research-project-1       1               80                8642
2  research-project-2       1               80                9844
3  research-project-3       1               80               13232
4  research-project-4       1               80               10361
5  research-project-5       1               80                6569
6  understanding-language-1 1               64               58788
7  understanding-language-2 1               66               41916
8  understanding-language-3 1               66               44287
9  understanding-language-4 1               66               25596
10 web-science-1            1              124               13674
11 web-science-2            1              123                4755
12 web-science-3            1              125                9249
13 web-science-4            1               34                8105
14 web-science-5            1               34                4810
   df_step_activity df_comments df_pr_assignments df_pr_reviews
1  127967            14454      1105              1808
2  119787            12661      1063              1573
3  144700            14581      1235              1752
4  156399            13074      1467              1839
5   69393             8111       554               824
6  468309           145425         0                 0
7  318232            86139         0                 0
8  229217            58285         0                 0
9  197929            50332         0                 0
10 231958            18414         0                 0
11  87189             6294       183               294
12 109910            10965       168               250
13  41944             6413       341               532
14  22520             4056       215               341
   df_question_response
1   17222
2   12807
3   20692
4   26014
5    9214
6       0
7       0
8       0
9       0
10 104588
11  31589
12  44615
13      0
14      0

In the previous table a list of all loaded courses and number of records for each data source is displayed.

Please keep in mind the notation of the short_code field, since it is the unique name used to link all data sources, and the main parameter for most operations.